<h2>Ajoutez un ingrédient</h2>
<p>Remplissezle champ suivant et clquez sur 'Ajouter'.</p>

<form action="" id="addIngredientForm">
    <label for="newIngredient">Nom de l'ingrédient</label>
    <input type="text" id="newIngredient">
    <input type="submit" value="Ajouter">
</form>

<script src="/js/ingredients-form.js"></script>